.form-container {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
    color: rgb(4, 56, 40);
  }
  input {
    background-color: whitesmoke;
    margin-right: 1rem;
    border: 0;
    padding: 0.5rem 1rem;
    font-family: inherit;
    border-radius: 5px;
    text-transform: capitalize;
    width: 50%;
  }
  input:focus {
    outline-color: rgb(74, 211, 165);
  }
  .btn {
    padding: 0.5rem 1rem;
    border: transparent;
    background-color: #4ad3a5;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    border-radius: 5px;
  }
  .btn:hover {
    background-color: rgb(44, 112, 87);
  }
}
