.jobinfo-container {
  h2 {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 35px;
  }
  span {
    background-color: #cbd5e1;
    color: #334155;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
  }
  .dates {
    margin: 1rem 0;
    color: #64748b;
  }
}
