main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
  .sidebar-toggle {
    position: fixed;
    top: 30px;
    left: 30px;
    border: transparent;
    background-color: transparent;
    color: rgb(40, 187, 245);
    font-size: 1.5rem;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    animation: blink infinite 02s ease-in-out;
  }
  @keyframes blink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  .modal-btn {
    border: transparent;
    background-color: rgb(40, 187, 245);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  .modal-btn:hover {
    background-color: rgb(22, 136, 182);
  }
  .modal-btn:active {
    transform: scale(0.8);
  }
}
